<launch>
  <!-- Create static transformation for the odom topic -->
  <node pkg="tf2_ros" type="static_transform_publisher"
    name="world_odom_broadcaster"      args="0 0 0 0 0 0 /world /odom" />

  <!-- Start odom rotator node that aligns the current_state_est with the car -->
    <!-- <node name="odom_rotator_node" pkg="navigation" type="odometry_rotator_node" output="screen">
      <remap from="input_tf" to="/tf"/>
      <remap from="output_odom" to="/odom"/>
    </node> -->


    <node name="odom_publisher_node" pkg="navigation" type="odom_publisher_node" output="screen">
      <remap from="pose" to="/Unity_ROS_message_Rx/OurCar/CoM/pose"/>
      <remap from="twist" to="/Unity_ROS_message_Rx/OurCar/CoM/twist"/>
    </node>
<!-- 
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="sim_true_body"      args="0 0 0 0 0 0 /OurCar/INS /true_body" /> -->

  <!-- Rotate true_body 90 degrees around z-axis to align x-axis with the car -->
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="true_body_base_link"      args="0 0 0 0 0 0 /OurCar/INS /base_link" />
0 0 
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="camera_to_body"      args="0 0 1.25 1.57 3.14 1.57 /base_link /camera" />

  <node pkg="tf2_ros" type="static_transform_publisher"
        name="sim_left_camera"      args="0 0 0 0 0 0 /camera /OurCar/Sensors/RGBCameraLeft" />

  <node pkg="tf2_ros" type="static_transform_publisher"
        name="sim_right_camera"      args="0 0 0 0 0 0 /camera /OurCar/Sensors/RGBCameraRight" />

  <node pkg="tf2_ros" type="static_transform_publisher"
        name="depth_camera_to_body"      args="0 0 1.25 1.57 3.14 1.57 /base_link /depth_camera" />

  <node pkg="tf2_ros" type="static_transform_publisher"
        name="sim_depth_camera"      args="0 0 0 0 0 0 /depth_camera /OurCar/Sensors/DepthCamera" />

  <node pkg="tf2_ros" type="static_transform_publisher"
        name="world_to_map"      args="-140 -14 0 -1.570796 0 0 /world /world_map" />

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find navigation)/config/navfn_ros_global_planner_params.yaml" command="load" />
    <rosparam file="$(find navigation)/config/teb_local_planner_params.yaml" command="load" />
  </node>
</launch>