<launch>
      <node pkg="simulation" type="JSON_param_reader" name="JSON_param_reader" output="screen"/>
      <node pkg="simulation" type="unity_TCP_stream_receiver" name="Unity_ROS_message_Rx" output="screen"/>
      <node pkg="simulation" type="ROS_command_transmitter" name="ROS_Unity_command_Tx" output="screen"/>
      <node pkg="simulation" type="run_unity.sh" name="unity_sim" output="screen" />

      <node pkg="nodelet" type="nodelet" name="depth_image_processing"
            args="load depth_image_proc/point_cloud_xyz nodelet_manager">
            <remap from="camera_info" to="/Unity_ROS_message_Rx/OurCar/Sensors/DepthCamera/camera_info"/>
            <remap from="image_rect" to="/Unity_ROS_message_Rx/OurCar/Sensors/DepthCamera/image_raw"/>
            <remap from="points" to="/perception/pcl/points"/>
      </node>
</launch>